<div class="chatbox">
	<div class="chatbox-left">
		<div class="chatbox-left-top">
			
		</div>
		<div class="chatbox-left-contact">
			
		</div>
	</div>
	<div class="chatbox-right">
		<div class="chatbox-right-top">
			<div class="chatbox-right-title"></div>
			<div class="chatbox-right-close"></div>
		</div>
		<div class="chatbox-right-content">
			
		</div>
		<div class="chatbox-right-inputbox">
			<textarea class="chatbox-right-input" name="" id="" cols="30" rows="10"></textarea>
			<a class="chatbox-right-send" href=""></a>
		</div>
	</div>
</div>