<main class="main-box">
  <nav ng-controller="NavigatorCtrl as nav" id="drawer">
    <img id="avatar" ui-sref="home.user" src={{nav.avatar}} alt="">
    <h3 class="id">{{nav.name}}</h3>
    <ul class="nav">
      <li class="wishlist">
        <a ui-sref="home.wishlist"><i class="fa fa-heart" aria-hidden="true"></i>愿望</a>
      </li>
      <!-- <li class="message">
        <a id="msg-sm" ui-sref="home.chat"><i class="fa fa-weixin" aria-hidden="true"></i>私信</a>
        <a id="msg-xl"><i class="fa fa-weixin" aria-hidden="true"></i>私信</a>
      </li> -->
      <!-- <li class="notification">
        <a ui-sref="home.notification"><i class="fa fa-envelope" aria-hidden="true"></i>通知</a>
      </li> -->
      <!-- <li class="help">
        <a ui-sref="home.ask"><i class="fa fa-question-circle" aria-hidden="true"></i>帮助</a>
      </li> -->
    </ul>
  </nav>
  <div class="include" ui-view></div>
  <footer></footer>
</main>