<div style="text-align: center">
  <h1 id="register-title">REGISTER</h1>
  <div id="register-box" class="register-box">
    <div id="Rusername" class="register-box-input">
      <div class="register-img"><i class="fa fa-user " aria-hidden="true"></i></div>
      <input class="register-input" placeholder="USERNAME" type="text">
    </div>
    <div id="Rpassword" class="register-box-input">
      <div class="register-img"><i class="fa fa-lock " aria-hidden="true"></i></div>
      <input class="register-input" placeholder="PASSWORD" type="password">
    </div>
    <div id="vip-pass" class="register-box-input">
      <img class="register-img" src="" alt="">
      <input class="register-input" placeholder="VIP CODE" type="text">
    </div>
  </div>
  <a id="register" class="register-btn" ng-click="vm.register()">REGISTER</a>
</div>
