<div class="container" ng-controller="WishlistCtrl as wControl">
  <div class="switch switch-lg">
    <ul id="wish-switch" value="0">
      <li id="myWishes" class="switch-selected"><a ng-click="wControl.init(0,0)">我的愿望</a></li>
      <li id="ToAchieve"><a ng-click="wControl.init(1,0)">我来实现</a></li>
    </ul>
  </div>
  <div class="wishes">
    <div ng-repeat="wish in wControl.wishes">
      <div wid="{{wish.wid}}" class="wish" ng-click="wControl.show($event,wishUser)">
        <div class="get-btn" ng-show="{{wish.isSelf}}" ng-click="wControl.finish($event)">完成心愿</div>
        <div class="wish-done" ng-show="{{wish.isDone}}"><img src="../images/done.png" alt=""></div>
        <img wid={{wish.userId}} class="user-avatar" src={{wish.avatar}} ng-click>
        <div class="wish-content-box">
          <a class="wish-from">{{wish.loc}}</a>
          <p class="wish-content">{{wish.descp}}</p>
          <p class="wish-time">{{wish.time}}</p>
        </div>
        
      </div>
      <div class="wish-from" ng-model='wishUser'>
        <div class="wish-from-box">
          <p class="wish-name">姓名：{{wControl.name}}</p>
          <p class="wish-mobile">手机：{{wControl.mobile}}</</p>
          <p class="wish-email">邮箱：{{wControl.email}}</</p>
        </div>
        <div class="wish-done" ng-show="{{wish.isDone}}"><img src="../images/done.png" alt=""></div>
      </div>
    </div>
  </div>
  <div id="load" class="loading" ng-click="wControl.init()">点击加载</div>
  <div id="load-complete" class="loading">加载完毕</div>
</div>
