.switch {
  width: 100%;
  text-align: center;
}

.switch-xs {
  height: 100%;
}

.switch > ul {
  display: flex;
  justify-content: center;
}

.switch > ul > li {
  font-size: 16px;
  margin: calc(4.5vh - 8px);
  margin-top: calc(4.5vh - 13px);
  margin: -webkit-calc(4.5vh - 8px);
  margin-top: -webkit-calc(4.5vh - 13px);
  padding: 5px;
}

.switch a {
  color: #fff;
}

#myWishes {
  margin-right: 0px;
  border: 1px solid #fff;
  border-radius: 16.5px 0 0 16.5px;
  padding-left: 10px;
}
#myWishes:hover {
  cursor: pointer;
}

#ToAchieve {
  margin-left: -1px;
  border: 1px solid #fff;
  border-radius: 0 16.5px 16.5px 0;
  padding-right: 10px;
}

#ToAchieve:hover {
  cursor: pointer;
}

.switch-selected {
  background-color: #fff;
}

.switch-selected a {
  color: #2c7ecf;
}

.loading {
  text-align: center;
  color: #d7d7d7;
  padding: 10px;
}

#load-complete {
  display: none;
}

.wish-done {
  position:absolute;
  z-index:0;
}

.wish-done > img {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  margin-top: 10px;
}

.wish-from {
  display: none;
}
.wish-name {padding-left: 10px;}
.wish-mobile {padding-left: 10px;}
.wish-email {padding-left: 10px;}

@media screen and (min-width: 600px) {
  .title {
    display: block;
  }
  /*
  .switch-xs {
    display: none;
  }*/
  .switch-lg {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .switch-lg {
    background-color: #2c7ecf;
  }
}
