<div>
  <h1 id="login-title">HELMAP</h1>
  <div class="login-box">
    <div id="username" class="login-box-input">
      <img class="login-img" src="" alt="">
      <input class="login-input" placeholder="USERNAME" type="text">
    </div>
    <div id="password" class="login-box-input">
      <img class="login-img" src="" alt="">
      <input class="login-input" placeholder="PASSWORD" type="text">
    </div>
    <a id="register-btn" href="register.html">register</a>
  </div>
  <a id="login" class="login-btn" ng-click="vm.login()">LOGIN</a>
</div>
