<div style="text-align: center">
  <h1 id="login-title">HELMAP</h1>
  <div class="login-box">
    <div id="username" class="login-box-input">
      <div class="register-img"><i class="fa fa-user " aria-hidden="true"></i></div>
      <input class="login-input" placeholder="USERNAME" type="text">
    </div>
    <div id="password" class="login-box-input">
      <div class="register-img"><i class="fa fa-lock " aria-hidden="true"></i></div>
      <input class="login-input" placeholder="PASSWORD" type="password">
    </div>
    <a id="register-btn" ng-click="vm.register()">register</a>
  </div>
  <a id="login" class="login-btn" ng-click="vm.login()">LOGIN</a>
</div>
