* {
	box-sizing: border-box;
}
html, body, main {
	width: 100%;
}

body {
	margin: 0;
	height: 100%;
	background: url(../images/background.jpg) top center;
	/*background-size: cover;*/
  background-repeat: repeat-x;
  background-position: center 0;
  background-color: #000316;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
/*

HEADER

*/
nav {
	width: 250px;
	position: fixed;
	-webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
	transition: transform 0.3s ease;
	/*box-shadow: -5px 0px 10px #5982ab inset;*/
	z-index: 10000;
}

nav.open {
	-webkit-transform: translate(0, 0);
        transform: translate(0, 0);
}

header {
	width: 100%;
	min-height: 40px;
	height: 10vh;
	max-height: 65px;
	background-color: #2c7ecf;
	text-align: center;
	display: flex;
	position: fixed;
}

.title {
	display: block;
	margin: 0;
	width: -moz-calc(100% - 100px);
	width: -webkit-calc(100% - 100px);
	width: calc(100% - 100px);

	height: 45px;
	margin-top: auto;
	margin-bottom: auto;
	color: #fff;
	font-weight: normal;
	font-family: Arial;
}

.title:hover {
	cursor: pointer;
}

.icon {
	display: block;
	width: 10%;
	margin-top: auto;
	margin-bottom: auto;
	color: #fff;
	font-size: 30px;
	width: 50px;
}

#hamburger-icon {
	margin-left: 1%;
}

#user-icon {
	margin-right: 1%;
}

/*

NAVIGAGION

*/

#drawer > header {
	display: none;	
}	

#drawer {
	display: block;
	text-align: center;
}

#avatar {
	border: 1px solid #fff;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin-top: 30%;
	box-shadow: 0px 0px 3px #3a3f50;
}

#avatar:hover {
	cursor: pointer;
}

.id {
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.2em;
	margin-left: 0.2em;
	text-shadow: 0px 0px 3px #3a3f50;
}

.nav {
	margin-top: 30%;
	width: 100%;
	height: 40%;
}
.nav > li {
	width: 100%;
	height: 25%;
	padding: 2%;
	font-size: 23px;
}

.nav > li > a {
	color: #fff;
	font-weight: 200;
	letter-spacing: 1em;
	font-size: 18px;
	text-shadow: 0px 0px 3px #3a3f50;
}

.nav > li > a > i {
	font-size: 25px;
}

#msg-sm {
	display: none;
}
/*

MEDIA QUERY

*/

#go-top {
	position: fixed;
	right: 40px;
	bottom: 40px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: #388EE9;
	color: #fff;
	font-size: 25px;
	text-align: center;
	box-shadow: 2px 2px 5px #252a48;
}
#go-top:hover {
	cursor: pointer;
	background-color: #2c69a9;

}

@media screen and (min-width: 600px) {
	header {
		border-top: 3px solid #8eb6ff;
		background-color: rgba(255,255,255,0.9);
		box-shadow: 0px 1px 10px #a8a9ad;
		z-index: 1;
	}
	.title {
		padding-left: 40px;
		text-align: left;
		font-size: 30px;
		letter-spacing: 0.2em;
		color: #388EE9;
	}
	nav {
		position: relative;
		transform: translate(0,0);
		-webkit-transform: translate(0, 0);
		z-index: 0;
		background-color: rgba(24, 80, 146, 0.5);
	}
	main {
		display: flex;
		display: -webkit-flex;
    -webkit-flex-flow: row nowrap;
		flex-flow: row nowrap;
	}
	#hamburger-icon {
		display: none;
	}
	#user-icon {
		display: none;
	}
	#drawer > header {
		display: block;	
	}
	main > header > .title {
		display: none;
	}
	.nav {
		margin-top: 20%;
		width: 100%;
		height: 25%;
	}
	.nav > li {
		width: 100%;
		height: 25%;
		max-height: 60px;
		padding: 2%;
		font-size: 23px;
	}
	.container {
		width: auto;
		flex-grow: 1;
	}
	.include {
		width: 100%;
	}
	#avatar {
		margin-top: 40%;
		box-shadow: 0px 0px 5px #5268A9;
	}
	#drawer a {
		text-shadow: 0px 0px 5px #5268A9;
	}
	#drawer h3 {
		text-shadow: 0px 0px 5px #5268A9;
	}
}

#load:hover {
	cursor: pointer;
}

@media screen and (min-width: 600px) and (max-height: 550px) {
	.title-1 {
		font-size: 25px;
	}
}

@media screen and (min-width: 600px) and (max-height: 440px) {
	.title-1 {
		font-size: 15px;
	}
}

@media screen and (min-width: 860px) {
	main {
		width: 860px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 600px) {
	nav {
		height: 100%;
		background: url(../images/tryout.jpg) no-repeat center;
		border-right: 4px solid #5EADE8;
		box-shadow: 2px 0px 5px #174e88;
	}
	#msg-xl {
		display: none;
	}
	#msg-sm {
		display: block;
	}
	header {
		z-index: 3;
	}

	#go-top {
		display: none;
	}
	/*.title {
		display: none;
	}*/
}